#header {
	.navbar {
		border-radius: 0;
		background-color: $primary-color;
		box-shadow: 0 0 6px 0 rgba(17,17,17,0.10);

		.navbar-nav {
			&.nav {
				> li {
					> a {
						//padding: 10px 0;
					}
				}
			}

			> li {
				> a {
					position: relative;

					&:after {
						transition: all 0.3s ease-out;
						width: 0;
						content: '';
						height: 1px;
						background-color: #fff;
						display: block;
						position: absolute;
						bottom: 10px;
						z-index: 2;
						left: 50%;
						transform: translateX(-50%);
					}

					&:hover, &:focus {
						color: #fff;

						&:after {
							width: 50%;
						}
					}
				}

			}
		}
	}
}