.post-wrapper {
	.listPosts {
		.post {
			margin-bottom: 0;
		}
	}


	.comments {
		margin-bottom: 30px;

		.comment {
			padding-bottom: 10px;
			padding-top: 10px;
			margin-bottom: 10px;
			border-bottom: 1px solid #ddd;
			min-height: 100px;

			.left {
				width: 80px;
				float: left;

			}

			.right {
				padding-left: 70px;

				.header {
					color: #888;

					.media-left {
						img {
							width: 40px;
						}
					}

					.title {
						font-size: 0.9em;
					}

					.time {
						font-size: 0.8em;
					}
				}

				.content {
					padding: 10px 0;
				}
			}
		}
	}

	.form-comment {

	}
}

.vote {
	text-align: center;
	font-size: 1.2em;
	color: #888;

	i {
		font-size: 1.5em;
	}

	.up, .down {
		cursor: pointer;
	}
}

.post {
	padding-bottom: 20px;
	margin-bottom: 40px;
	border-bottom: 1px solid #ddd;

	.header {
		.title {
			display: block;
			margin: 0;
			min-height: 45px;
			line-height: 25px;
		}

		border-bottom: 1px solid #eee;
		margin-bottom: 20px;
	}

	.left {
		width: 70px;
		float: left;
	}

	.right {
		padding-left: 70px;

		.content {
			padding: 20px 0;
		}

		.footer {
			.media-left {
				img {
					width: 50px;
				}
			}

			.author {
				line-height: 50px;
				color: #888;
			}

			.time {
				font-size: 0.9em;
				color: #b7b7b7;
			}
		}
	}
}