.post-wrapper {
	.listPosts {
		.post {
			margin-bottom: 0;
		}
	}


	.comments {
		margin-bottom: 30px;

		.comment {
			padding-bottom: 10px;
			padding-top: 10px;
			margin-bottom: 10px;
			border-bottom: 1px solid #ddd;
			min-height: 100px;

			.left {
				width: 80px;
				float: left;

			}

			.right {
				padding-left: 70px;

				.header {
					color: #888;

					.media-left {
						img {
							width: 40px;
						}
					}

					.title {
						font-size: 0.9em;
					}

					.media-body {
						vertical-align: middle;
					}

					.time {
						font-size: 0.8em;
						float: right;
					}
				}

				.content {
					padding: 10px 0;
				}
			}
		}
	}

	.form-comment {

	}
}

.vote {
	text-align: center;
	font-size: 1.2em;
	color: #18bc9c;

	i {
		font-size: 1.5em;
	}

	.up, .down {
		cursor: pointer;
	}
}

.post_archive {
	.archive_content {
		background-color: #fff;
	}
}

.create_topic {
	float: right;
	a {
		padding: 10px 20px;
		background-color: $primary-color;
		color: #fff;
		display: block;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		&:hover {
			text-decoration: none;
		}
	}
}

.listPost {
	padding: 20px 30px;
	background: #fff;
	box-shadow: 0 0 8px 0 rgba(17,17,17,0.10);
	border-radius: 10px;

	> .group {
		margin-bottom: 50px;
	}

	.post {
		border: 1px solid #ddd;
		border-radius: 10px;
		padding: 20px 30px;
		margin-bottom: 30px;
		.title {
			font-size: $font-size;
			margin: 0;
			padding-bottom: 15px;
			a {
				font-size: $font-size;
				color: $primary-color;
				&:hover {
					text-decoration: none;
					color: $primary-color;
				}
			}
		}
		.content {
			padding-bottom: 20px;
		}

		.read_more {
			margin-top: 10px;
			a {
				font-size: 12px;
				color: #999;
				&:hover {
					text-decoration: none;
					color: $primary-color;
				}
				&:before {
					content: "\f0a4";
					font-family: "FontAwesome";
					color: $primary-color;
					font-size: 16px;
					margin-right: 8px;
				}
			}
		}
	}
}

.group {
	.author {
		float: left;
		display: inline-block;
		margin-right: 35px;

		img {
			width: 30px;
			float: left;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
		}

		.author_name {
			div {
				font-size: 12px;
				color: #999;
			}
			margin-left: 40px;
		}
	}
}