.wrapper-profile {
	padding: 20px 30px;
	background-color: #fff;
	box-shadow: 0 0 8px 0 rgba(17, 17, 17, 0.10);
	border-radius: 10px;

	.title {
		margin-bottom: 30px;
	}

	.details {
		table {
			tr {
				td {
					&:first-child {
						font-weight: bold;
					}
				}
			}
		}
	}
}