a[ng-click] {
	cursor: pointer;
}

html, body {
	height: 100%;
}

.modal-title {
	color: $title-color;
	font-weight: 700;
	font-family: $font-family;
	font-size: 26px;
}

body {
	background: $background-color;
	color: $text-color;
	font-size: $font-size;
	font-family: $font-family;
}