<div class="container">
    <div class="wrapper-breadcrumb" ng-controller="BreadcrumbsController as breadcrumbCtrl" ng-show="breadcrumbCtrl.data.breadcrumbs.length">
        <ul class="breadcrumb">
            <li ng-repeat="link in breadcrumbCtrl.data.breadcrumbs">
                <a href="{{link.href}}" title="{{link.title}}">{{link.title}}</a>
            </li>
        </ul>
    </div>

    <div class="wrapper row">
        <div class="col-md-3 wrapper-sidebar" ui-view="sidebar">
        </div>
        <div class="col-md-9 wrapper-content" ui-view="content">
        </div>
    </div>
</div>