<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1 class="text-center">Slogan</h1>
            <p>Short description. Short description. Short description. Short description. Short description. Short description. Short description. Short description. Short description. Short description. Short description. Short description. Short description. Short description. Short description.</p>
            <div class="text-center">
                <button class="btn btn-primary">Get start</button>
                <button class="btn btn-default">Learn more</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
</div>