<div class="wrapper-landing-page">
    <div class="wrapper-slider">
        <img src="../../assets/images/slider.png">
        <div class="container">
            <div class="slider-content">
                <h2>Edoo app - Giải pháp cho nền giáo dục mới</h2>
                <div class="description">Mọi thứ luôn thay đổi, chúng ta không những phải bắt kịp với thời đại, mà chúng
                    ta phải tạo ra nó, tạo ra thời đại của chúng ta, tương lai của chúng ta!
                </div>
                <div class="slider-button"><a href="#">Khám Phá</a></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="trending">
            <div class="section_title">
                <h3>Xu hướng học tập của sinh viên hiện đại</h3>
                <div>Chúng tôi đã thực hiện một cuộc khảo sát quy mô lớn với các bạn sinh viên đang học tập về những cảm nhận và phương pháp học tập của chính họ.</div>
                <div class="line"></div>
            </div>
        </div>
        <div class="more_information">
            <div class="row">
                <div class="col-sm-6 left_text">
                    <p class="heading">Nhu cầu trao đổi của sinh viên thực sự nhiều</p>
                    <p>Tất nhiên việc học trên lớp với thời gian 1-2 tiết mỗi ngày thực sự không thể đủ để nhiều sinh viên có thể hiểu và nắm bắt bài học được. Như vậy sẽ có rất nhiều vấn đề bài vở khiến họ thắc mắc và muốn một môi trường trao đổi.</p>
                </div>
                <div class="col-sm-6">
                    <img src="../../assets/images/khaosat1.png">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 left_text">
                    <p class="heading">Biện pháp trao đổi của sinh viên là mạng xã hội</p>
                    <p>Hầu hết các sinh viên bây giờ thường tìm những câu trả lời cho việc học của mình ở trên mạng. Rất đơn giản với Google để có những kết quả tìm kiếm tốt, nhanh và tiện lợi. Hay với mạng xã hội Facebook, nơi có rất nhiều người đang online và bạn có thể trao đổi trực tuyến với họ.</p>
                </div>
                <div class="col-sm-6">
                    <img src="../../assets/images/khaosat2.png">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 left_text">
                    <p class="heading">Tuy nhiên mạng xã hội cũng mang nhiều hạn chế</p>
                    <p>Biện pháp hiện đại, phổ thông hiện nay được xem là giải pháp cứu cánh cho vấn đề trao đổi bài học của sinh viên đang chủ yếu vẫn là mạng xã hội Facebook. Nhưng liệu rằng đây có thực sự là một biện pháp tốt, khi nó khiến các sinh viên xao nhãng và không tập trung.</p>
                </div>
                <div class="col-sm-6">
                    <img src="../../assets/images/khaosat3.png">
                </div>
            </div>
        </div>
        <div class="separator">
            <div class="pyramid"></div>
        </div>
    </div>
    <div class="causes">
        <div class="section_title container">
            <h3>Xu hướng học tập của sinh viên hiện đại</h3>
            <div>Chúng tôi đã thực hiện một cuộc khảo sát quy mô lớn với các bạn sinh viên đang học tập về những cảm nhận và phương pháp học tập của chính họ.</div>
            <div class="line"></div>
        </div>
        <div class="full_widget_stretch">
            <div class="left_column">
                <img src="../../assets/images/edooapp.png">
            </div>
            <div class="right_column">
                <div>Edoo App là một cái gì đó rất là bla bla bla... Thực sự viết ra được những dòng chữ này, em cũng rất cảm cmn động, huhu. Đêm nay em lại ngủ muộn rồi, tất cả là tại thầy cô đấy. Nói chung ấy, là không có cái gì nói riêng cả. Và sự thật là chẳng có cái gì là thực sự hết. Tóm lại là vậy.</div>
                <div class="icon_box">
                    <div class="icon">
                        <i class="fa fa-comments-o" aria-hidden="true"></i>
                    </div>
                    <div class="box_content">
                        <p class="heading">Tính năng nổi bật thứ nhất</p>
                        <p>Thực sự thì app này có rất nhiều điểm tốt, trong đó điểm tốt thứ nhất chính là điểm tốt đầu tiên, tôi xin khẳng định chắc chắn là như vậy 100% luôn.</p>
                    </div>
                </div>
                <div class="icon_box">
                    <div class="icon">
                        <i class="fa fa-cogs" aria-hidden="true"></i>
                    </div>
                    <div class="box_content">
                        <p class="heading">Tính năng nổi bật thứ hai</p>
                        <p>Thực sự thì app này có rất nhiều điểm tốt, trong đó điểm tốt thứ hai chính là điểm tốt không đầu tiên, tôi xin khẳng định chắc chắn là như vậy 100% luôn.</p>
                    </div>
                </div>
                <div class="icon_box">
                    <div class="icon">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    </div>
                    <div class="box_content">
                        <p class="heading">Tính năng nổi bật thứ ba</p>
                        <p>Thực sự thì app này có rất nhiều điểm tốt, trong đó điểm tốt thứ nhất chính là điểm tốt đầu tiên, tôi xin khẳng định chắc chắn là như vậy 100% luôn.</p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="start_now"><a href="#">Bắt đầu ngay</a></div>
    </div>
    <div class="wrapper-slider">
        <img src="../../assets/images/appphone.png">
        <div class="container">
            <div class="slider-content">
                <h2 class="underline">Ứng dụng Edoo trên điện thoại di động</h2>
                <div class="description">
                    Thấy chưa, cha của hiện đại luôn. Phải dư lày mới gọi nà app chứ nị. Chơi hẳn trên nền tảng Android luôn. Đề nghị các bạn dùng Iphone tải về xài nha.
                </div>
                <div class="slider-button"><a class="download" href="#"><i class="fa fa-android" aria-hidden="true"></i>Tải về máy</a></div>
            </div>
        </div>
    </div>
</div>