<div class="wrapper-new-post">
    <h2 class="modal-title">Đăng chủ đề mới</h2>
    <form class="new_post">
        <div class="form-group">
            <label for="type">Thể loại</label>
            <div id="type">
                <label class="radio-inline"><input ng-model="createPostCtrl.newPost.type" type="radio" name="type" value="question">Question</label>
                <label class="radio-inline"><input ng-model="createPostCtrl.newPost.type" type="radio" name="type" value="note">Note</label>
                <label class="radio-inline"><input ng-model="createPostCtrl.newPost.type" type="radio" name="type" value="poll">Poll</label>
                <label class="radio-inline" ng-show="createPostCtrl.canCreatableNotification"><input ng-model="createPostCtrl.newPost.type" type="radio" name="type" value="notification">Notification</label>
            </div>
        </div>
        <div class="form-group">
            <label for="title">Tiêu đề</label>
            <input type="text" id="title" ng-model="createPostCtrl.newPost.title" class="form-control">
        </div>
        <div class="form-group">
            <label for="content">Nội dung</label>
            <textarea id="content" ui-tinymce="createPostCtrl.tinymceOptions" ng-model="createPostCtrl.newPost.content"></textarea>
        </div>

        <div class="form-group">
            <label for="is_incognito">Đăng với tư cách</label>
            <select name="is_incognito" id="is_incognito" class="form-control" ng-model="createPostCtrl.newPost.is_incognito">
                <option value="0">{{createPostCtrl.user.name}}</option>
                <option value="1">Ẩn danh</option>
            </select>
        </div>

        <div class="create_topic">
            <a ng-click="createPostCtrl.createPost()">Tạo Chủ Đề Mới</a>
        </div>
    </form>

</div>