<div class="post-wrapper">
    <div class="post-content">
        <div class="left">
            <div class="vote">
                <div class="up" ng-click="postCtrl.vote(1)"><i class="fa fa-caret-up" aria-hidden="true"></i></div>
                <div class="count">{{postCtrl.post.votes.length}}</div>
                <div class="down" ng-click="postCtrl.vote(-1)"><i class="fa fa-caret-down" aria-hidden="true"></i></i></div>
            </div>
        </div>
        <div class="right">
            <h1 class="title">{{postCtrl.post.title}}</h1>
            <div class="group">
                <div class="author" ng-if="!postCtrl.post.is_incognito">
                    <img ng-src="{{postCtrl.post.author.avatar}}" alt="">
                    <div class="author_name">
                        <div>Người đăng:</div>
                        <span>{{postCtrl.post.author.name}}</span>
                    </div>
                </div>
                <div class="number_comments">
                    <div>Bình luận:</div>
                    <span class="number ng-binding">50</span>
                </div>
                <div class="time">
                    <div>Ngày đăng:</div>
                    <span class="number" am-time-ago="postCtrl.post.created_at" title="{{postCtrl.post.created_at | amDateFormat:'HH:mm - MM/DD/YYYY'}}"></span>
                </div>
                <div class="vote">
                    <div>Độ quan tâm:</div>
                    <span class="number">10 votes</span>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="content" ng-bind-html="postCtrl.post.content">
            </div>
        </div>
    </div>

    <div class="comments">
        <div class="comment" ng-repeat="comment in postCtrl.post.comments">
            <div class="left">
                <div class="vote">
                    <div class="up"><i class="fa fa-caret-up" aria-hidden="true"></i></div>
                    <div class="count">{{comment.votes.length}}</div>
                    <div class="down"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
                </div>
            </div>

            <div class="right">
                <div class="header">
                    <div class="media-left">
                        <img ng-src="{{comment.author.avatar}}" alt="">
                    </div>
                    <div class="media-body">
                        <span class="title">{{comment.author.name}}</span>
                        <div class="time" am-time-ago="comment.created_at" title="{{comment.created_at | date }}"></div>
                    </div>
                </div>

                <div class="content">
                    {{comment.content}}
                </div>
            </div>
        </div>
    </div>

    <div class="form-comment">
        <h4>Nhập bình luận</h4>
        <form ng-submit="postCtrl.comment()">
            <div class="form-group">
                <textarea class="form-control" placeholder="Comment" ng-model="postCtrl.answer"></textarea>
            </div>
            <div class="form-group">
                <button class="comment_submit" type="submit">Trả lời</button>
            </div>
        </form>
    </div>
</div>