<div class="post-wrapper">
    <div class="post-content">
        <div class="left">
            <div class="vote">
                <div class="up" ng-click="postCtrl.votePost(1)"><i class="fa fa-caret-up" aria-hidden="true"></i></div>
                <div class="count">{{postCtrl.post.vote_count}}</div>
                <div class="down" ng-click="postCtrl.votePost(-1)"><i class="fa fa-caret-down"
                                                                      aria-hidden="true"></i></i>
                </div>
            </div>
        </div>
        <div class="right">
            <h1 class="title ng-fade">{{postCtrl.post.title}}</h1>
            <div class="group">
                <div class="author" ng-if="!postCtrl.post.is_incognito">
                    <img ng-src="{{postCtrl.post.author.avatar}}" alt="">
                    <div class="author_name">
                        <div>Người đăng:</div>
                        <span>{{postCtrl.post.author.name}}</span>
                    </div>
                </div>
                <div class="author" ng-if="postCtrl.post.is_incognito">
                    <img ng-src="{{'assets/images/incognito.png'}}" alt="">
                    <div class="author_name">
                        <div>Người đăng</div>
                        <span>Ẩn danh</span>
                    </div>
                </div>
                <div class="number_comments">
                    <div>Bình luận:</div>
                    <span class="number ng-binding">{{postCtrl.post.comments.length}}</span>
                </div>
                <div class="time">
                    <div>Thời gian:</div>
                    <span class="number" am-time-ago="postCtrl.post.created_at"
                          title="{{postCtrl.post.created_at | amDateFormat:'HH:mm - MM/DD/YYYY'}}"></span>
                </div>

                <div class="action pull-right" ng-show="postCtrl.data.user.id == postCtrl.post.author.id">
                    <div class="btn-group">
                        <a class="btn btn-primary" ng-click="postCtrl.edit()"><i class="fa fa-pencil fa-fw"></i> Sửa</a>
                        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a ng-click="postCtrl.remove()"><i class="fa fa-trash-o fa-fw"></i> Xóa</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="content ng-fade" ng-bind-html="postCtrl.post.content">
            </div>
        </div>
    </div>

    <div class="comments" id="comments">
        <div class="comment ng-fade" ng-repeat="comment in postCtrl.post.comments">
            <div class="left">
                <div class="vote">
                    <div class="up" ng-click="postCtrl.voteComment(comment.id)">
                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                    </div>
                    <div class="count">{{comment.vote_count || 0}}</div>
                    <div class="down" ng-click="postCtrl.devoteComment(comment.id)">
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="solve-btn solved" ng-show="comment.is_solve"></div>
                <div class="solve-btn can-solve unsolved" ng-show="postCtrl.byPostAuthor && !comment.is_solve" ng-click="postCtrl.solve(comment.id)"></div>
            </div>

            <div class="right">
                <div class="header">
                    <div class="media-left">
                        <img ng-src="{{comment.author.avatar}}" alt=""/>
                    </div>
                    <div class="media-body">
                        <span class="title">{{comment.author.name}}</span>
                        <div class="time" am-time-ago="comment.created_at" title="{{comment.created_at | date }}"></div>
                    </div>
                </div>

                <div class="content" ng-bind-html="comment.content">
                </div>
            </div>
        </div>
    </div>

    <div class="form-comment">
        <h4>Nhập bình luận</h4>
        <form ng-submit="postCtrl.comment()">
            <div class="form-group">
                <div id="answer"></div>
            </div>
            <div class="form-group">
                <button class="comment_submit" type="submit">Trả lời</button>
            </div>
        </form>
    </div>
</div>