<div class="container">
    <div class="row">
        <div class="col-md-3">

        </div>

        <div class="col-md-9">
            <div class="post">
                <div class="left">
                    <div class="vote">
                        <div class="up"><i class="fa fa-chevron-up" aria-hidden="true"></i></div>
                        <div class="count">5</div>
                        <div class="down"><i class="fa fa-chevron-down" aria-hidden="true"></i></div>
                    </div>
                </div>
                <div class="right">
                    <div class="header">
                        <div class="media-left">
                            <img src="assets/images/img.png" alt="">
                        </div>
                        <div class="media-body">
                            <h1 class="title">{{postCtrl.post.title}}</h1>
                            <div class="time">Aug 1</div>
                        </div>
                    </div>
                    <div class="content">
                        {{postCtrl.post.content}}
                    </div>

                    <div class="footer">
                        <div class="media-left">
                            <img src="assets/images/img.png" alt="">
                        </div>
                        <div class="media-body">
                            <div class="author">{{postCtrl.post.author.name}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="comments">
                <div class="comment" ng-repeat="comment in postCtrl.post.comments">
                    <div class="left">
                        <div class="vote">
                            <div class="up"><i class="fa fa-chevron-up" aria-hidden="true"></i></div>
                            <div class="count">5</div>
                            <div class="down"><i class="fa fa-chevron-down" aria-hidden="true"></i></div>
                        </div>
                    </div>

                    <div class="right">
                        <div class="header">
                            <div class="media-left">
                                <img src="assets/images/img.png" alt="">
                            </div>
                            <div class="media-body">
                                <span class="title">{{comment.author.name}}</span>
                                <div class="time">Aug 1</div>
                            </div>
                        </div>

                        <div class="content">
                            {{comment.content}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-comment">
                <form>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Comment"></textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>