<div class="list-classes sidebar">
    <h3 class="title-sidebar">Lớp môn học</h3>
    <ul class="list-sidebar">
        <li><a href="#">Lập trình hướng đối tượng - INT 2004</a></li>
        <li><a href="#">Lập trình nâng cao - INT 2004</a></li>
        <li><a href="#">Lập trình hướng đối tượng - INT 2004</a></li>
        <li><a href="#">Lập trình hướng đối tượng - INT 2004</a></li>
    </ul>
</div>
<div class="popular_topics sidebar">
    <h3 class="title-sidebar">Chủ đề nổi bật</h3>
    <ul class="list-sidebar">
        <li><a href="#">Làm sao để cua gái đã có người yêu?</a></li>
        <li><a href="#">Làm sao để cua gái đã có người yêu?</a></li>
        <li><a href="#">Làm sao để cua gái đã có người yêu?</a></li>
        <li><a href="#">Làm sao để cua gái đã có người yêu?</a></li>
    </ul>
</div>