<div class="container">
    <div class="row">
        <div class="col-md-3">

        </div>

        <div class="col-md-9">
            <div class="listPost">
                <div class="post" ng-repeat="post in postCtrl.listPost">
                    <div class="left"></div>
                    <div class="right">
                        <div class="header">
                            <div class="media-left"></div>
                            <div class="media-body">
                                <a class="title" href="#/post/{{post.id}}">{{post.title}}</a>
                                <div class="time">Aug 1</div>
                            </div>
                        </div>
                        <div class="content">
                            {{post.content}}
                        </div>

                        <div class="footer">
                            <div class="media-left"></div>
                            <div class="media-body">
                                <div class="author">{{post.author.name}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>